* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    background-color: gold;
    color: darkviolet;
    font-size: 45px;
    text-align: center;
}

.main-page-list{
    color: chocolate;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.other-page-list {
    color: darkgreen;
    font-size: 28px;
    font-weight: 700;
}

button {
    color:aquamarine;
    background-color: khaki;
    font-size: 18px;
    text-align: center;
}

.inline {
    display: flex;
    border: 2px red;
    margin: auto;
}

.block {
    display: block;
    margin: 50px;
}